# Django Framework
django==5.0.13
djangorestframework==3.14.0
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-oauth-toolkit==3.0.1
djangorestframework-simplejwt==5.0.0
drf-yasg==1.21.7

# Deep Learning & AI
torch==2.9.0
torchvision==0.24.0
transformers==4.54.1
tensorflow_intel==2.18.0
tf_keras==2.20.1

# Computer Vision & OCR
opencv-python==4.12.0.88
ultralytics==8.3.179
Pillow==10.2.0
easyocr==1.7.2
vietocr==0.3.13
pytesseract==0.3.13
qrcode==8.2
qreader==3.16
qrdet==2.5
pyzbar==0.1.9

# Scientific Computing
numpy==2.0.2
scipy==1.14.1
matplotlib==3.10.5
pandas==2.2.3
scikit-learn==1.6.1
scikit-image==0.24.0
albumentations==1.4.2
imgaug==0.4.0

# Database
mysqlclient==2.2.4
PyMySQL==1.1.1
psycopg2-binary==2.9.10

# Document Processing
pdf2image==1.17.0
PyPDF2==3.0.1
python-docx==1.1.2
ocrmypdf==16.6.1
pikepdf==9.4.0

# Web Server & Async
waitress==3.0.2
gunicorn==23.0.0
channels==3.0.4
daphne==3.0.2
asgiref==3.8.1
eventlet==0.33.3

# Task Queue
celery==5.3.4
redis==5.0.1
gevent==23.9.1
flower==2.0.1

# Security & Authentication
cryptography==43.0.3
PyJWT==2.8.0
jwcrypto==1.5.6
python-dotenv==1.1.1

# Utilities
requests==2.32.3
coloredlogs==15.0.1
tqdm==4.67.0
click==8.2.1
humanize==4.15.0
filelock==3.16.1

# Monitoring & Logging
prometheus_client==0.23.1

# Other Dependencies
WhiteNoise==6.9.0
tokenizers==0.21.4
safetensors==0.4.5
fsspec==2024.10.0