{% extends 'quan_ly_phieu_bau/base.html' %} {% block title %}Đăng nhập{%endblock %} {% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-5 col-lg-4">
    <div class="card shadow-sm p-4">
      <h2 class="mb-4 text-center">Đăng nhập</h2>
      <form method="post">
        {% csrf_token %} {% if form.errors %}
        <div class="alert alert-danger">
          Tên đăng nhập hoặc mật khẩu không đúng.
        </div>
        {% endif %}
        <div class="mb-3">
          <label class="form-label">Tên đăng nhập</label>
          <input
            type="text"
            name="username"
            class="form-control"
            required
            autofocus
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Mật khẩu</label>
          <input
            type="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
